.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .description {
    display: flex;
    flex-direction: column;
    width: 260px;
    cursor: pointer;
    color: #ffff;
  }

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    text-align: center;
  }
}